body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: transparent; /* Neutral background */
  color: #000000;
  /* overflow-x: hidden; */
  scroll-behavior: smooth; /* Smooth scrolling for all sections */
}

.section {
  padding: 3rem 1rem; /* Consistent section padding */
  text-align: center;
}

.section-title {
  color: #8B0000;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.section-text {
  text-align: center;
  color: #000000;
  font-size: larger;
  margin-bottom: 1rem;
  line-height: 1.8;
}
